fastapi
uvicorn
psycopg2-binary
SQLAlchemy
pika
passlib
python-jose
bcrypt==3.2.2
pytest
httpx
PyJWT
requests
GitPython==3.1.24
langchain-community==0.0.29
langchain-core>=0.1.45,<0.2.0
langchain==0.1.11
pydantic
langchain-google-genai==1.0.4
langchain-openai==0.0.8
python-gitlab==4.5.0
langchain-anthropic>=0.1.0
PyYAML
